* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "PT Sans Narrow", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

header {
  margin: 20px 0;
  color: #303030;
  font-size: 1em;
}
header .container {
  justify-content: space-between;
}
header .container .logo img {
  width: 70%;
}
header .container ul {
  align-items: center;
}
header .container ul li:hover, header .container ul li:focus, header .container ul li:active, header .container ul li.active {
  color: #0282F9;
  border-bottom: 2px solid #0282F9;
}
header .container ul li a {
  color: #303030;
  display: block;
  padding: 1em;
  text-transform: uppercase;
}

footer .footer-top {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
}
footer .footer-top .container {
  padding: 20px 0;
  background-image: url("/img/dc-logo-bg.png");
  background-position-x: right;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
footer .footer-top .col {
  margin-right: 20px;
}
footer .footer-top .col h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  margin-top: 10px;
}
footer .footer-top .col ul {
  margin-top: 10px;
}
footer .footer-top .col ul li a {
  color: grey;
}
footer .footer-bottom {
  background-color: #303030;
}
footer .footer-bottom .container {
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
footer .footer-bottom .container .side-left .cta {
  display: block;
  padding: 1em;
  color: white;
  border: 2px solid #0282F9;
}
footer .footer-bottom .container .side-right {
  align-items: center;
}
footer .footer-bottom .container .side-right h3 {
  color: #0282F9;
  margin-right: 10px;
}
footer .footer-bottom .container .side-right .social li a {
  margin-right: 10px;
  display: block;
}

.comics {
  background-color: black;
}
.comics .main-top {
  color: white;
}
.comics .main-top .jumbotron {
  height: 400px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}
.comics .main-top .jumbotron h1 {
  background-color: #0282F9;
  display: inline-block;
  position: absolute;
  top: 92%;
  left: 15%;
  padding: 0.3em 1em;
}
.comics .main-top .container .comics {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.comics .main-top .container .comics .comic-container {
  flex-basis: calc(16.6666666667% - 20px);
  margin: 0 10px 30px;
  color: white;
}
.comics .main-top .container .comics .comic-container h2 {
  font-size: 1.2em;
}
.comics .main-top .container .comics .comic-container .img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.comics .main-top .container .comics .comic-container .img img {
  width: 100%;
}
.comics .main-top .container .button {
  text-align: center;
  margin-bottom: 20px;
}
.comics .main-top .container .button .load-more {
  display: inline-block;
  color: white;
  background-color: #0282F9;
  border: none;
  padding: 10px 50px;
}
.comics .main-bottom {
  background-color: #0282F9;
  padding: 30px 0;
}
.comics .main-bottom .container ul {
  align-items: center;
  justify-content: center;
}
.comics .main-bottom .container ul li {
  align-items: center;
  flex-basis: 20%;
}
.comics .main-bottom .container ul li img {
  width: 40px;
}
.comics .main-bottom .container ul li a {
  margin-left: 10px;
  text-transform: uppercase;
  color: white;
}