header {
        margin: 20px 0;
        color: $blackFontColor;
        font-size: 1em;
        .container {
            justify-content: space-between;
            .logo img {
                width: 70%;
            }      
            ul {
                align-items: center;
                li {
                    &:hover,
                    &:focus,
                    &:active,
                    &.active {
                        color: $blueFontColor;
                        border-bottom: 2px solid $blueFontColor;
                    }
                    a {
                        color: $blackFontColor;
                        display: block;
                        padding: 1em;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }